<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Places You Have Been</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Places You Have Been</h1>
            

            <h4><a href="/places/new">Add new place🔖</a></h4>
            <h4><a href="/places">See All Places You Have Visited👀</a></h4>

        </div>
    </body>
</html>